.message {
  position: absolute;
  top: 40px;
  right: 105px;
}

.message-hidden {
  opacity: 0;
}

.message-show {
  opacity: 1;
  transition: all 250ms linear 1s;
}

.form-show {
  opacity: 1;
}

.form-hidden {
  opacity: 0;
  transition: all 250ms linear 1s;
  /* display: none; */
}
